.cmd-view-output {
	background: none repeat scroll 0 0 black;
	border: 1px solid lightgray;
	border-radius: 3px 3px 3px 3px;
	color: #00FF00;
	margin: 0;
	padding: 2px;
}
.run-view {
	background: none repeat scroll 0 0 darkgrey;
	border: 1px solid grey;
	border-radius: 3px 3px 3px 3px;
	padding: 2px;
	color: blue;
	margin: 5px 5px 0 5px;
}
.cmd-view {
	background: none repeat scroll 0 0 darkgrey;
	border: 2px solid #141414;
	border-radius: 3px 3px 3px 3px;
	padding: 2px;
	color: blue;
}
.view > .view-run-cmd > textarea {
	background: none repeat scroll 0 0 #141414;
	border: 1px solid grey;
	color: green;
}
body {
	margin: 0;
}
body {
	background: none repeat scroll 0 0 black;
	color: white;
}
.cmd-view-exit-code {
	background: none repeat scroll 0 0 white;
	border-radius: 3px 3px 3px 3px;
	color: black;
	float: right;
	padding: 0 5px;
	margin-top: -1px;
}
.view-cmd-view {
	padding: 2px;
	background: grey;
	border-radius: 3px;
	position: fixed;
	left: 0;
	height: 1em;
	margin-top: -1px;
}
.view-hidden-input {
	position: fixed;
	/*left: -200px;
	top: -200px;
	width: 0px;
	height: 0px;*/
	/*height: 0.5em;*/
	margin: 0px 0px 0px 0px;
	z-index: -200;
	border: 0 none transparent;
	padding: 0;
}
.view-run-cmd {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
}
.view-run-btn {
	position: fixed;
	right: 0;
	margin-top: -2px;
}
